# Fill your config
API_HASH = "84d8b635a127218158581c0fd8225770"
BOT_TOKEN = "6937730640:AAGj_euD3MUED6tH6C4qv5Auyx-ja67pVCE"
TELEGRAM_API = "28271319"
OWNER = "5674333293"
OWNER_USERNAME = "theamanchaudhary"
PASSWORD = "AmanBotz"
DATABASE_URL = "mongodb+srv://theamanchaudhary:updatesbyaman@cluster0.dnol3vs.mongodb.net/?retryWrites=true&w=majority"
LOGCHANNEL = "-1001910513374"   # Add channel id as: "-100 + Actual_ID"
USER_SESSION_STRING = "" # Premium account session string to upload upto 4GB (requires "LOGCHANNEL")

# tired of redeploying :(
UPSTREAM_REPO = "https://github.com/yashoswalyo/MERGE-BOT"
UPSTREAM_BRANCH = "master"
